.page {
}
.primary {
  position: relative;
  width: 150;
  height: 150;
}
.color {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  flex-direction: row;
  background-color: #eeeeee;
  width: 150;
  height: 150;
  overflow: hidden;
}
.pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 150;
  height: 150;
}
.side {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 15;
  height: 150;
}
.txt {
  margin-top: 11;
  max-width: 171;
  height: 33;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 33;
  white-space: nowrap;
  color: #333333;
  font-size: 24;
  font-weight: 400;
}
.priceWrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 45;
}
.rmb {
  margin-top: 5;
  width: 12;
  height: 40;
  line-height: 28;
  white-space: nowrap;
  color: #ff0036;
  font-size: 20;
  font-weight: 400;
}
.price {
  margin-left: 7;
  max-width: 163;
  height: 36;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40;
  white-space: nowrap;
  color: #ff0036;
  font-size: 28;
  font-weight: 600;
}
.block {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 1;
  border-radius: 4;
  background-color: #ff0036;
  width: 166;
  height: 44;
}
.txt_2 {
  max-width: 154;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30;
  white-space: nowrap;
  color: #ffffff;
  font-size: 22;
  font-weight: 400;
}
